/* ---------------------- Color header y foote ------------------------------ */
/*-------------------------- Footer ------------------- */
.segment-one p, .segment-two p, .segment-three p, .segment-four p {
  line-height: 25px;
  color: #686666; }

.segment-one h2, .segment-two h2, .segment-three h2, .segment-four h2 {
  font-size: 18px;
  color: white;
  letter-spacing: 3px;
  margin: 10px 0; }

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px; }

.segment-two ul li a {
  font-size: 18px;
  color: #686666; }

.segment-three h2::before {
  content: '|';
  color: #f1a539;
  padding-right: 10px; }

.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%; }

.segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 12px; }

.segment-four h2::before {
  content: '|';
  color: #f1a539;
  padding-right: 10px; }

.segment-four h2 {
  text-transform: uppercase; }

.segment-three h2 {
  text-transform: uppercase; }

.segment-four form input[type=submit] {
  background: #f1a539;
  border: none;
  padding: 5px 10px;
  margin-top: 2px;
  color: #000;
  text-transform: uppercase;
  font-size: 16px; }

.segment-three a {
  margin-right: 15px; }

.footer-top {
  background: #000;
  padding: 80px 20px;
  color: white; }

.footer-bottom-text {
  text-align: center;
  background: #000;
  color: white; }

.mail__reservas a {
  color: white; }

@font-face {
  font-family: "roboto";
  src: url(/fuente/Roboto-Regular.ttf); }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

body {
  font-family: "roboto";
  font-size: 20px; }

/* --------------- Nav -------------- */
.header {
  width: 100%;
  height: 60px;
  background: #000;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  align-items: center; }

.nav-menu {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: white;
  height: 90px; }

.logo a {
  color: white;
  text-decoration: none; }

.logo {
  color: white;
  font-size: 30px;
  grid-column: 1 / 2;
  padding: 20px;
  text-align: left; }

.nav-menu ul {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-around; }

li a {
  color: white; }

li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  line-height: normal;
  font-size: 13px;
  letter-spacing: 0.1em;
  transition: all 500ms ease;
  padding-top: 1.5rem; }

.menu a:hover {
  color: #b99768;
  transition: .5s; }

#shop a {
  background: #f1a539;
  text-shadow: none;
  padding: 9px 25px;
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-radius: .3rem; }

.btn, .btn-book {
  padding: 9px 25px;
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-radius: .3rem; }

/*  ------ Extend ------ */
.btn-book {
  background: #f1a539;
  text-shadow: none; }

#shop a:hover {
  background-color: #000;
  color: #f1a539;
  font-weight: 700; }

.nav-barra {
  display: none; }

/* ----------------- Home --------------------- */
.carousel-item {
  height: 40rem;
  background: #000;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover; }

.container1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 75px;
  text-align: center;
  justify-content: center; }

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: 4;
  opacity: 0.5; }

.container1 a {
  background: #f1a539;
  opacity: .7;
  text-shadow: none;
  padding: 9px 25px;
  margin: 0;
  border: 2px solid #f1a539;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white; }

.titulo {
  padding: 20px 0 0px 0;
  text-align: center; }

.parrafo {
  margin: 20px 40px 20px 40px;
  padding: 0px 15px 15px 15px;
  text-align: center;
  line-height: 180%; }

.parrafo p {
  font-size: 20px;
  font-weight: 300;
  padding: 0;
  line-height: 1.6em;
  max-width: 730px;
  margin: 0 auto;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: 1; }

.videos {
  margin: 30px 40px 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.videos iframe {
  width: 100%; }

/*-------------------------------------------------- HABITACIONES -------------------------------------- */
.contenedor__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "banner banner" "titulo-grid titulo-grid" "parrafo-grid parrafo-grid" "card1 card2" "card3 card4";
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 20px; }

.banner {
  grid-area: banner; }

.banner img {
  width: 100%;
  height: 100%; }

.card1 img:hover, .card2 img:hover, .card3 img:hover, .card4 img:hover {
  height: 300px;
  width: 400px;
  padding: 20px; }

.titulo-grid {
  grid-area: titulo-grid;
  text-align: center;
  padding: 20px 0 5px 0; }

.parrafo-grid {
  grid-area: parrafo-grid;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 0;
  line-height: 1.6em;
  max-width: 730px;
  margin: 0 auto; }

.card1 {
  grid-area: card1; }

.card1 img {
  width: 100%;
  padding: 10px 0; }

.card2 {
  grid-area: card2; }

.card2 img {
  width: 100%;
  padding: 10px 0; }

.card3 {
  grid-area: card3; }

.card3 img {
  width: 100%;
  padding: 10px 0; }

.card4 {
  grid-area: card4; }

.card4 img {
  width: 100%;
  padding: 10px 0; }

/*------------------------- GASTRONOMIA ---------------------------------------------*/
.grilla__aabb {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "banner__grid banner__grid" "titulo__aabb titulo__aabb" "img_aabb1 parrafo__grid1" "img_aabb2 parrafo__grid2" "titulo__video titulo__video" "video__aabb video__aabb";
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 50px 0; }

.banner__grid {
  grid-area: banner__grid; }

.banner__grid img {
  width: 100%; }

.titulo__aabb {
  grid-area: titulo__aabb;
  text-align: center;
  padding: 20px 0; }

.parrafo__grid1 {
  grid-area: parrafo__grid1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  line-height: 180%;
  justify-content: center; }

.parrafo__grid2 {
  grid-area: parrafo__grid2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  line-height: 180%; }

.img_aabb1 {
  grid-area: img_aabb1; }

.aabb img {
  width: 100%;
  height: 100%;
  padding-left: 10px; }

.img_aabb2 {
  grid-area: img_aabb2; }

.aabb img {
  width: 100%;
  height: 100%;
  padding-left: 10px; }

.titulo__video {
  grid-area: titulo__video; }

.titulo__video h4 {
  text-align: center;
  font-size: 25px; }

.video__aabb {
  grid-area: video__aabb;
  display: flex;
  justify-content: center;
  align-items: center; }

/* ------------------------  SPA --------------------------------------------------- */
.grilla__spa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "banner__spa banner__spa" "titulo__spa titulo__spa" "img__spa1 parrafo__spa1" "img__spa2 parrafo__spa2" "img__spa3 parrafo__spa3";
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 50px 0; }

.banner__spa {
  grid-area: banner__spa; }

.banner__spa img {
  width: 100%;
  height: 100%; }

.titulo__spa {
  grid-area: titulo__spa;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column; }

.titulo__spa p {
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  line-height: 1.6em;
  max-width: 730px;
  margin: 0 auto; }

.img__spa1 {
  grid-area: img__spa1; }

.img__spa2 {
  grid-area: img__spa2; }

.img__spa3 {
  grid-area: img__spa3; }

.img__spa img {
  width: 100%;
  height: 100%;
  padding-left: 20px; }

.parrafo__spa1 {
  grid-area: parrafo__spa1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 50px; }

.parrafo__spa1 p {
  padding: 30px 40px;
  line-height: 150%; }

.parrafo__spa2 {
  grid-area: parrafo__spa2;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px; }

.parrafo__spa2 p {
  padding: 30px 40px;
  line-height: 150%; }

.parrafo__spa3 {
  grid-area: parrafo__spa3;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px; }

.parrafo__spa3 p {
  padding: 30px 40px;
  line-height: 150%; }

/* ------------------------ CONTACTO ------------------------------------------------ */
#form {
  box-shadow: 5px 5px 5px;
  border-radius: 30px; }

.grilla__rrhh {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img__rrhh img__rrhh" "form-registro rrhh";
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 50px 0; }

.img__rrhh {
  grid-area: img__rrhh; }

.img__rrhh img {
  width: 100%;
  height: 100%; }

.form-registro {
  grid-area: form-registro; }

.rrhh {
  grid-area: rrhh;
  text-align: center;
  padding: 2rem;
  line-height: 180%; }

.form-registro {
  width: 600px;
  background: #fff;
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 30px;
  border-radius: 2px; }

.reg {
  width: 90%;
  background: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 16px;
  color: black; }

.label {
  font-size: 12px;
  padding: 10px 20px 10px 10px;
  color: black; }

.boton {
  width: 50%;
  background: #05054e;
  border: none;
  border-radius: 7px;
  padding: 8px 15px;
  margin: 16px 15px;
  font-size: 16px;
  color: white;
  cursor: pointer; }

.derechos {
  color: white;
  font-size: 10px;
  text-align: left; }

.rrhh p {
  padding: 1rem; }

.textarea {
  background-color: white;
  border-radius: 2px;
  font-size: 16px;
  color: #464444; }

/* -------------------Media Quaries 600 ---------------------- */
.nav__label, .nav__imput {
  display: none; }

@media screen and (max-width: 600px) {
  .nav__label {
    display: block;
    cursor: pointer;
    grid-column: 2 / 3;
    justify-self: end;
    padding-right: 1rem; }
  .menu {
    position: fixed;
    width: 100%;
    height: 90vh;
    top: 80px;
    left: -100%;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: #000; }
  .menu li {
    padding: 0;
    border: 3px solid #fff; }
  .menu li a {
    font-size: 15px; }
  .nav__imput:checked + .menu {
    left: 0;
    transition: all .1s; }
  .logo {
    font-size: 20px;
    width: 100%; }
  .contenedor__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "banner" "titulo-grid" "parrafo-grid" "card1" "card2" "card3" "card4";
    gap: 20px; }
  .banner img {
    width: 100%; }
  .imagen .img {
    width: 70%; }
  .grilla__aabb {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "banner__grid" "titulo__aabb" "img_aabb1"  "parrafo__grid1" "img_aabb2"  "parrafo__grid2" "titulo__video" "video__aabb";
    margin-bottom: 70px; }
  .aabb img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }
  .banner__grid img {
    width: 100%; }
  .parrafo__grid1 {
    grid-area: parrafo__grid1;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 140%;
    justify-content: center; }
  .parrafo__grid2 {
    grid-area: parrafo__grid2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 140%; }
  .video__aabb iframe {
    width: 100%;
    padding: 0;
    margin: 0; }
  .margen img {
    width: 100%;
    padding: 0;
    margin: 0; }
  .titulo {
    padding-top: 15px;
    margin-top: 15px; }
  .grilla__spa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "banner__spa" "titulo__spa" "img__spa1" "parrafo__spa1" "img__spa2"  "parrafo__spa2" "img__spa3"  "parrafo__spa3";
    margin-bottom: 70px;
    gap: 50px 0; }
  .img__spa img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }
  .banner__spa img {
    width: 100%; }
  .grilla__rrhh {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img__rrhh" "rrhh" "form-registro";
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 50px 0; }
  .img__rrhh img {
    width: 100%;
    padding: 0;
    margin: 0; }
  .rrhh {
    grid-area: rrhh;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 180%; }
  .form-registro {
    padding: 0 1rem;
    margin: 0;
    width: 100%; }
  .rrhh p {
    padding: 0;
    margin: 0;
    font-size: 18px; }
  #form {
    margin-top: 0px;
    display: flex;
    flex-direction: column; }
  #form div {
    width: 100%; }
  #form label {
    padding: 0; }
  #form input, #form select {
    width: 100%; }
  #form .boton {
    display: inline-block;
    margin: 10px 0; }
  textarea {
    width: 100%; }
  .parrafo__spa1 p, .parrafo__spa2 p, .parrafo__spa3 p {
    padding: 0; }
  .card1 img:hover, .card2 img:hover, .card3 img:hover, .card4 img:hover {
    width: 100%;
    height: 300px;
    padding: 20px; }
  #shop a {
    font-weight: 700;
    letter-spacing: 0.1em;
    width: 100%;
    text-align: center;
    align-items: center;
    background: #000;
    border-radius: none;
    border: none;
    padding: 0; }
  #shop a:hover {
    padding: 0;
    font-weight: 700;
    width: 100%;
    background-color: none;
    background: none;
    text-align: center; } }
