/*-------------------------- Footer ------------------- */
.segment-one p, .segment-two p, .segment-three p, .segment-four p{
    line-height: 25px;
    color: rgb(104, 102, 102);
}
.segment-one h2, .segment-two h2, .segment-three h2, .segment-four h2{
    font-size: 18px;
    color: white;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a{
    font-size: 18px;
    color: rgb(104, 102, 102);
}
.segment-three h2::before{
    content: '|';
    color: $Call_action;
    padding-right: 10px;
}
.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four h2::before{
    content: '|';
    color: $Call_action;
    padding-right: 10px;
}
.segment-four h2{
    text-transform: uppercase;
}
.segment-three h2{
    text-transform: uppercase;
}
.segment-four form input[type=submit]{
    background: $Call_action;
    border: none;
    padding: 5px 10px;
    margin-top: 2px;
    color: $header_footer;
    text-transform: uppercase;
    font-size: 16px;
}
.segment-three a{
    margin-right: 15px;
}
.footer-top{
    background: $header_footer;
    padding: 80px 20px;
    color: white;
}
.footer-bottom-text{
    text-align: center;
    background: $header_footer;
    color: white;
}